# python stuff
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/

# build stuff
build/
dist/
*.spec

# system stuff
.DS_Store
Thumbs.db
.directory

# project stuff
DOOM_EVO
DOOM_EVO_WIN.exe
GLCache/
.pytest_cache/
.ruff_cache/
